@import "~@assets/scss/base";

body {
  font-size: 12pt;
  font-family: 'Open Sans', sans-serif;
}
.account-result {
  max-width: 700px;
  margin: 20px auto;
}
.account-wrapper {
  border: 1px solid #ccc;
  border-radius: .5rem;

  .avatar-circle {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    .btn-upload-avatar {
      cursor: pointer;
      position: absolute;
      width: 100%;
      background: #0000007a;
      color: #fff;
      bottom: 0;
      font-size: .8em;
      padding: .3em 0;
    }
  }
}