<template>
    <div class="account-result">
        <div class="account-wrapper p-5">
            <div class="avatar-group mb-lg-5">
                <div class="avatar-circle m-auto d-flex justify-content-center">
                    <img :src="avatarUrl" :alt="fullName">
                    <div class="btn-upload-avatar">
                        <i class="fa fa-camera" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <div class="">
            </div>
            <form class="needs-validation" :class="{'has-validated': errors}" @submit.prevent="onSubmitData">
                <div class="form-group">
                    <label>Full name</label>
                    <div class="row" v-if="isEdited">
                        <div class="col">
                            <input type="text"
                                   class="form-control"
                                   :class="{'is-invalid': errors.has('first_name')}"
                                   placeholder="First name"
                                   v-model="form.first_name"
                                   name="first_name"
                                   v-validate="'required'"
                            >
                            <div class="invalid-feedback">{{ errors.first('first_name') }}</div>
                        </div>
                        <div class="col">
                            <input type="text"
                                   class="form-control"
                                   :class="{'is-invalid': errors.has('last_name')}"
                                   placeholder="Last name"
                                   v-model="form.last_name"
                                   name="last_name"
                                   v-validate="'required'"
                            >
                            <div class="invalid-feedback">{{ errors.first('last_name') }}</div>
                        </div>
                    </div>
                    <div class="form-control-plaintext" v-else>{{ fullName }}</div>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <div class="email-wrap" v-if="isEdited">
                        <input type="text"
                               class="form-control"
                               :class="{'is-invalid': errors.has('email')}"
                               placeholder="Email"
                               name="email"
                               v-model="form.email"
                               v-validate="'required|email'"
                        >
                        <div class="invalid-feedback">{{ errors.first('email') }}</div>
                    </div>
                    <div class="form-control-plaintext" v-else>{{ form.email }}</div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="password-container" v-if="isEdited">
                        <input type="password"
                               class="form-control"
                               placeholder="Enter new password"
                               v-model="form.password"
                               @input="onInputPassword"
                        >
                        <div class="progress mt-2">
                            <div class="progress-bar" :class="passwordLevelColor" :style="{width: `${passwordLevelPercent}%`}"></div>
                        </div>
                    </div>
                    <div class="form-control-plaintext" v-else>**********</div>
                </div>

                <div class="btn-wrap text-center">
                    <button class="btn btn-primary" :class="{disabled: isDisabledSubmitBtn}" type="submit" v-if="isEdited" :disabled="isDisabledSubmitBtn">Save changes</button>
                    <button class="btn btn-info" type="button" @click.prevent="doEditInformation" v-else>Edit information</button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
  import zxcvbn from 'zxcvbn'
  import md5 from 'md5-hash'

  export default {
    name: 'AccountEdit',
    data() {
      return {
        isEdited: false,
        password: {},
        form: {
          first_name: null,
          last_name: null,
          email: null,
          password: null
        }
      }
    },

    created() {

    },

    mounted() {
      if (this.accountData) {
        this.$set(this, 'form', this.accountData)
      } else {
        let defaultData = {
          first_name: 'Cuong',
          last_name: 'Nguyen Quoc',
          email: 'cuongnq.93@gmail.com',
          password: null
        }
        this.updateData(defaultData)
        this.$set(this, 'form', defaultData)
      }
    },

    methods: {
      onSubmitData() {
        this.$validator.validate().then((valid) => {
          if (valid) {
            this.updateData(this.form)
            this.$set(this, 'isEdited', false)
            this.$set(this.form, 'password', '')
          }
        })
      },

      onInputPassword() {
        this.$set(this, 'password', zxcvbn(this.form.password))
      },

      updateData(data) {
        localStorage.setItem('accountData', JSON.stringify(data))
      },

      doEditInformation() {
        this.$set(this, 'isEdited', true)
        this.$set(this.form, 'password', '')
      }
    },

    computed: {
      isDisabledSubmitBtn() {
        return (this.errors.items.length > 0)
      },

      avatarUrl() {
        const emailHash = (this.form.email) ? md5(this.form.email) : md5('')
        return `http://1.gravatar.com/avatar/${emailHash}`
      },

      accountData() {
        let data = localStorage.getItem('accountData')
        return JSON.parse(data)
      },

      fullName() {
        return `${this.form.first_name} ${this.form.last_name}`
      },

      passwordLevelPercent() {
        let level = 0
        if (this.password.hasOwnProperty('score')) {
          level = (this.form.password && this.form.password.length > 0 && this.password.score <= 0) ? 1 : this.password.score
        }
        return level * 25
      },

      passwordLevelColor() {
        let color = 'danger'
        switch (this.password.score) {
          case 1:
            color = 'danger'
            break
          case 2:
          case 3:
            color = 'warning'
            break
          case 4:
            color = 'success'
            break
        }

        return `bg-${color}`
      }
    }
  }
</script>

<style lang="scss">
    @import "~@assets/scss/main";
</style>