<template>
    <div>
        <AccountEdit />
    </div>
</template>

<script>
  import AccountEdit from '@/components/AccountEdit.vue'

  export default {
    name: 'app',
    components: {
      AccountEdit
    },
    created() {

    },
    mounted() {

    }
  }
</script>

<style lang="scss">
    @import "~font-awesome/css/font-awesome.css";
</style>
